

<footer id="footer" class="bg-blue-900 text-white">
    <div class="mx-auto max-w-7xl overflow-hidden py-6 lg:px-8">
        <nav class="-mb-6 columns-1 text-center grid grid-cols-4" aria-label="Footer">
          <div class="pb-6">
            <a title="Home page" href="#" class="">
              <img alt="Home icon" class="w-8 h-auto mx-auto" src="../assets/icon/home-icon.png" alt="home icon" />
            </a>
          </div>
          <div class="pb-6">
            <a title="Events page" href="#" class="">
              <img alt="Events map icon" class="w-8 h-auto mx-auto" src="../assets/icon/events-icon.png" alt="events icon"/>
            </a>
          </div>
          <div class="pb-6">
            <a title="Your profiles page" href="#" class="">
              <img alt="Profile id icon" class="w-8 h-auto mx-auto" src="../assets/icon/biotool.png" alt="biotool icon"/>
            </a>
          </div>
          <div class="pb-6">
            <a title="Connections to freinds page" href="#" class="">
              <img alt="Connections comment chat icon" class="w-8 h-auto mx-auto" src="../assets/icon/connections-icon.png" alt="connections icon"/>
            </a>
          </div>
        </nav>
    </div>
  </footer>
  
