

<!-- Links section-->
<div class="pt-8 flex flex-col items-center gap-4">
	<button type="button" (click)="onLinkedInClick()"
		class="w-9/12 border-1 border-trimDark bg-primary truncate shadow-lg text-center text-infoLight py-3 rounded-full">
		LinkedIn
	</button>
	<button type="button" (click)="onPatchWrkClick()"
		class="w-9/12 border-1 bg-secondary truncate shadow-lg text-center text-infoLight py-3 rounded-full dragons:text-primary racer:text-info duke:text-info raven:text-info roseAmber:text-info">
		PatchWrk
	</button>
	<button type="button" (click)="onQuestAppClick()"
		class="w-9/12 border-1 border-trimDark bg-tertiary truncate shadow-lg text-center text-info py-3 rounded-full">
		Quest
	</button>
	<button type="button"
		class="w-9/12 border-1 bg-inactive truncate text-center text-info py-3 rounded-full cursor-default">
		Organization
	</button>
</div>
