

<!-- Links section-->
<div id="links">
    <div id="QRcode" class="pb-4 pt-12 mt-3">
      <img class="h-48 p-4 ring-1 rounded-lg mx-auto" alt="QR Code" 
        src="../assets/images/onboarding-images/de4ZAy.tif.png" />
    </div>
    <div class="w-9/12 mx-auto mt-8 space-y-6 text-white">
      <p><a href="https://www.linkedin.com/in/bianchijohn/" target="blank" title="LinkedIn"> 
        <button class="w-full ring-4 bg-blue-900 ring-gray-900 truncate shadow-md  text-center py-3 mt-0 mb-0 rounded-full mx-auto">
          LinkedIn
        </button></a></p>
      <p><a href="https://www.circlepass.io/patchwrq" target="blank" title="PatchWRQ Site"> 
        <button class="w-full ring-4 bg-blue-900 ring-gray-900 truncate shadow-md  text-center py-3 mt-0 mb-0 rounded-full mx-auto">
          PatchWRQ Site
        </button></a></p>
      <p><a href="https://www.circlepass.io/quest" target="blank" title="Quest App"> 
        <button class="w-full ring-4 bg-blue-900 ring-gray-900 truncate shadow-md  text-center py-3 mt-0 mb-0 rounded-full mx-auto">
          Quest App
        </button></a></p>
    </div>
  </div>
