
  <!-- Header Setup section-->
  <div id="header" class="bg-patchwrq p-4 rounded-b-3xl bg-cover bg-center " style="background-image: url('/assets/images/onboarding-images/PatchwrqBg.png');">
    <div class="flex justify-center">
      <div>
        <img class="mx-auto mb-4" alt="John Bianchi"  src="../assets/images/onboarding-images/JohnBianchi.png" />
        <p class="text-2xl mb-4 text-white uppercase">John Bianchi</p>
      </div>
    </div>
    <div class="w-52 mx-auto relative">
      <div class="grid grid-cols-4 gap-2 absolute top-1">
          <a href="https://www.facebook.com/john.bianchi221" target="blank" title="Facebook">
            <img class="w-15 h-15 mr-2" alt="Facebook logo"  src="../assets/images/onboarding-images/Facebook.png" />
          </a>
          <a href="https://www.linkedin.com/in/bianchijohn/"  target="blank" title="LinkedIn">
            <img class="w-15 h-15 mr-2" alt="LinkedIn logo" src="../assets/images/onboarding-images/Linkedin.tif.png" />
          </a>
          <a href="https://x.com/BTCJohnnyB" target="blank" title="Twitter X">
            <img class="w-15 h-15 mr-2" alt="Twitter X logo"  src="../assets/images/onboarding-images/X.tif.png" />
          </a>
          <a href="https://www.instagram.com/bianchidoingthings/" target="blank" title="Instagram">
            <img class="w-15 h-15" alt="Instagram logo"  src="../assets/images/onboarding-images/Instagram.tif.png" />
          </a>
      </div>
    </div>
  </div>
