
<!-- User Bio About panel -->
<div class="bg-inactive retroDiner:bg-tertiary px-8 text-center py-5">
	<h1 class="text-sm uppercase text-center leading-10 font-display">About Me:</h1>
	<p class="pb-4 text-sm">
		Cupcake ipsum dolor sit amet macaroon jelly beans. Wafer danish biscuit shortbread chupa chups. Jelly tart jujubes
		biscuit cake pastry candy candy danish.
	</p>
	<p class="pb-4 text-sm">
		Pudding cheesecake toffee ice cream soufflé. Caramels sugar plum jelly cupcake gummi bears. Icing tiramisu halvah
		biscuit pie brownie chocolate cake jelly.
	</p>
</div>
