

<div title="event-schedule" class="px-4 mt-6 pb-32">

    <!-- My Schedule-->
    <h1 class="uppercase text-2xl font-semibold">My Schedule</h1>
    <h2 class="text-sm font-light">Quickly view your schedule selections</h2>
    
    <div class="flex mt-6 px-2 overflow-x-auto">
        <div class="flex space-x-4 pb-6 ">
            <!-- First Session Card -->
            <div class="flex w-40">
                <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                    <img src="/assets/images/ImgPlaceholder.svg" class="absolute w-5 h-5 left-2.5 top-2.5"/>
                </div>
                <div>
                    <p>Session Name</p>
                    <p class="text-xs font-light">Fri. 10am - 11am</p>
                </div>
            </div>
            
            <!-- Second Session Card -->
            <div class="flex w-40">
                <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                    <img src="/assets/images/ImgPlaceholder.svg" class="absolute w-5 h-5 left-2.5 top-2.5"/>
                </div>
                <div>
                    <p>Session Name</p>
                    <p class="text-xs font-light">Fri. 10am - 11am</p>
                </div>
            </div>
            
            <!-- Third Session Card -->
            <div class="flex w-40">
                <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                    <img src="/assets/images/ImgPlaceholder.svg" class="absolute w-5 h-5 left-2.5 top-2.5"/>
                </div>
                <div>
                    <p>Session Name</p>
                    <p class="text-xs font-light">Fri. 10am - 11am</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sessions -->
    <div class="py-6 border-y-2 border-gray-200 mt-2 relative">
        <h1 class="uppercase text-2xl font-semibold">Sessions</h1>
        <h2 class="text-sm font-light">Happening Now!</h2>

        <p class="absolute right-4 top-8 font-light">See All ></p>

        <div class="flex mt-6 px-2 overflow-x-auto">
            <div class="flex space-x-4 pb-6 ">
                <!-- First Session Card -->
                <div class="flex w-40">
                    <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                        <img src="/assets/images/ImgPlaceholder.svg" class="absolute w-5 h-5 left-2.5 top-2.5"/>
                    </div>
                    <div>
                        <p>Session Name</p>
                        <p class="text-xs font-light">Fri. 10am - 11am</p>
                    </div>
                </div>
                
                <!-- Second Session Card -->
                <div class="flex w-40">
                    <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                        <img src="/assets/images/ImgPlaceholder.svg" class="absolute w-5 h-5 left-2.5 top-2.5"/>
                    </div>
                    <div>
                        <p>Session Name</p>
                        <p class="text-xs font-light">Fri. 10am - 11am</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- View Tracks Section -->
    <div class="flex justify-between px-8 my-8 text-lg">
        <button class="bg-gray-400 rounded-full ring-1 ring-gray-900 py-2 w-36 shadow-md">View Tracks</button>
        <!-- <br> &nbsp; -->
        <button class="bg-white rounded-full ring-1 ring-gray-900 py-2 w-36 shadow-md">View Days</button>
    </div>
    
    <div>
        <!-- Monday -->
        <p class="uppercase text-lg font-medium pb-8">Monday</p>
        <div class="grid grid-cols-12 mb-12">
            <div class="flex w-40 col-span-5">
                <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                    <img src="/assets/images/ImgPlaceholder.svg" 
                        class="absolute w-5 h-5 left-2.5 top-2.5"/>
                </div>
                <div>
                    <p>Session Name</p>
                    <p class="text-xs font-light">Fri. 10am - 11am</p>
                </div>
            </div>
            <div class="col-span-3">
                <div class="w-4 h-4 ring-2 ring-black rounded-full mx-auto"></div>
                <p class="font-thin mt-2 text-center text-xs">Quick Add</p>
            </div>
            <button class="ring-1 ring-black text-sm rounded-full col-span-4">Session Details</button>
        </div>

        <!-- Tuesday -->
        <p class="uppercase text-lg font-medium pb-2">Tuesday</p>

        <div class="grid grid-cols-12">
            <div class="flex w-40 col-span-5">
                <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                    <img src="/assets/images/ImgPlaceholder.svg" class="absolute w-5 h-5 left-2.5 top-2.5"/>
                </div>
                <div>
                    <p>Session Name</p>
                    <p class="text-xs font-light">Fri. 10am - 11am</p>
                </div>
            </div>
            <div class="col-span-3">
                <div class="w-4 h-4 ring-2 ring-black rounded-full mx-auto"></div>
                <p class="font-thin mt-2 text-center text-xs">Quick Add</p>
            </div>
            <button class="ring-1 ring-black text-sm rounded-full col-span-4">Session Details</button>
        </div>
    </div>


    <!-- View Days Section -->
    <div class="flex justify-between px-8 my-8 text-lg">
        <button class="rounded-full ring-1 ring-gray-900 py-2 w-36 shadow-md">View Tracks</button>

        <button class="bg-gray-400 rounded-full ring-1 ring-gray-900 py-2 w-36 shadow-md">View Days</button>
    </div>
    
    <div>
        <!-- Track Name 1 -->
        <p class="uppercase text-lg font-medium pb-8">Track Name</p>

        <div class="grid grid-cols-12 mb-12">
            <div class="flex w-40 col-span-5">
                <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                    <img src="/assets/images/ImgPlaceholder.svg" 
                        class="absolute w-5 h-5 left-2.5 top-2.5"/>
                </div>
                <div>
                    <p>Session Name</p>
                    <p class="text-xs font-light">Fri. 10am - 11am</p>
                </div>
            </div>

            <div class="col-span-3">
                <div class="w-4 h-4 ring-2 ring-black rounded-full mx-auto"></div>
                <p class="font-thin mt-2 text-center text-xs">Quick Add</p>
            </div>

            <button class="ring-1 ring-black text-sm rounded-full col-span-4">Session Details</button>
        </div>

        <!-- Track Name 2 -->
        <p class="uppercase text-lg font-medium pb-2">Track Name</p>

        <div class="grid grid-cols-12">
            <div class="flex w-40 col-span-5">
                <div class="w-10 h-10 bg-gray-700 rounded-full relative mr-2">
                    <img src="/assets/images/ImgPlaceholder.svg" 
                        class="absolute w-5 h-5 left-2.5 top-2.5"/>
                </div>
                <div>
                    <p>Session Name</p>
                    <p class="text-xs font-light">Fri. 10am - 11am</p>
                </div>
            </div>
            <div class="col-span-3">
                <div class="w-4 h-4 ring-2 ring-black rounded-full mx-auto"></div>
                <p class="font-thin mt-2 text-center text-xs">Quick Add</p>
            </div>
            <button class="ring-1 ring-black text-sm rounded-full col-span-4">Session Details</button>
        </div>
    </div>
</div>