
  <!-- Header Setup section-->
  <div id="header" class="bg-patchwrq p-4 rounded-b-3xl bg-cover bg-center " style="background-image: url('/assets/images/pw-background.jpg');">
    <div class="flex justify-center">
      <div>
        <img class="mx-auto mb-4" alt="Avatar image"  src="/assets/images/John.png" />
        <p class="text-2xl mb-4 text-patchwrq uppercase">John Bianchi</p>
      </div>
    </div>
    <div class="w-48 mx-auto relative">
      <div class="grid grid-cols-4 gap-2 absolute top-1">
          <a class="" href="https://www.facebook.com/">
            <img class="w-10 h-10 mr-2" alt="Facebook"  src="/assets/images/onboarding-images/Facebook.png" />
          </a>
          <a class="" href="https://www.linkedin.com/in/bianchijohn/">
            <img class="w-10 h-10 mr-2" alt="Linkedin" src="/assets/images/onboarding-images/Linkedin.tif.png" />
          </a>
          <a class="" href="https://x.com/">
            <img class="w-10 h-10 mr-2" alt=" Twitter X"  src="/assets/images/onboarding-images/X.tif.png" />
          </a>
          <a class="" href="https://www.instagram.com/">
            <img class="w-10 h-10" alt="Instagram"  src="/assets/images/onboarding-images/Instagram.tif.png" />
          </a>
      </div>
    </div>
  </div>


<!-- Links section-->
  <div id="links">
    <div id="QRcode" class="pb-4 pt-12 ">
      <img class="h-48 p-4 ring-1 rounded-lg mx-auto" alt="QR Code" 
        src="/assets/images/onboarding-images/de4ZAy.tif.png" />
    </div>
    <div class="w-9/12 mx-auto mt-8 space-y-6 text-white">
      <button class="w-full ring-4 bg-blue-900 ring-gray-900 truncate shadow-md  text-center py-3 rounded-full">
        <p class="w-56 mx-auto truncate">www.linkedin.com/in/bianchijohn/</p>
      </button>
      <div class="ring-4 bg-blue-900 ring-gray-900 shadow-md text-center py-3 rounded-full ">
        <p class="w-56 mx-auto truncate">www.circlepass.io/patchwrq</p>
      </div>
      <div class="ring-4 bg-blue-900 ring-gray-900 shadow-md text-center py-3 rounded-full">
        <p class="w-56 mx-auto truncate">www.circlepass.io/quest</p>
      </div>
    </div>
  </div>

  
  <!-- Badges -->
  <div id="badges" class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10">
    <div id="badgesQuests" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <div class="text-center w-full text-white z-30">
              <img class="w-auto h-14 mt-2 mx-auto " alt="My Quest"  src="/assets/images/onboarding-images/quest.png" />
            </div>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Quest</p>
    </div>

    <div id="badgesMine" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <img class="w-auto h-12 mx-auto mt-3" alt="My Badges" src="/assets/images/onboarding-images/badges.png" />
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Badges</p>
    </div>
    
    <div id="badgesRewards" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <div class="text-center w-full text-white z-30">
                <img class="w-auto h-16 mx-auto mt-3" alt="My Rewards" src="/assets/images/onboarding-images/rewards.png" />
            </div>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Rewards</p>
    </div>  
  </div>



<footer id="footer" class="bg-blue-900 text-white">
  <div class="mx-auto max-w-7xl overflow-hidden py-6 lg:px-8">
      <nav class="-mb-6 columns-1 text-center grid grid-cols-4" aria-label="Footer">
        <div class="pb-6">
          <a title="home page" href="#" class="">
            <img alt="home icon" class="w-8 h-auto mx-auto" src="/assets/images/onboarding-images/home.png" />
          </a>
        </div>
        <div class="pb-6">
          <a title="" href="#" class="">
            <img alt="map icon" class="w-10 h-auto mx-auto" src="/assets/images/onboarding-images/quest.png" />
          </a>
        </div>
        <div class="pb-6">
          <a title="" href="#" class="">
            <img alt="id icon" class="w-8 h-auto mx-auto" src="/assets/images/onboarding-images/biotool.png" />
          </a>
        </div>
        <div class="pb-6">
          <a title="" href="#" class="">
            <img alt="comment icon" class="w-8 h-auto mx-auto" src="/assets/images/onboarding-images/connections.png" />
          </a>
        </div>
      </nav>
  </div>
</footer>
