
  <!-- Header Setup section-->
  <div id="header" class="bg-patchwrq p-4 rounded-b-3xl bg-cover bg-center " style="background-image: url('/assets/images/onboarding-images/PatchwrqBg.png');">
    <div class="flex justify-center">
      <div>
        <img class="mx-auto mb-4" alt="John Bianchi"  src="../assets/images/onboarding-images/JohnBianchi.png" />
        <p class="text-2xl mb-4 text-white uppercase">John Bianchi</p>
      </div>
    </div>
    <div class="w-52 mx-auto relative">
      <div class="grid grid-cols-4 gap-2 absolute top-1">
          <a href="https://www.facebook.com/john.bianchi221" target="blank" title="Facebook">
            <img class="w-15 h-15 mr-2" alt="Facebook logo"  src="../assets/images/onboarding-images/Facebook.png" />
          </a>
          <a href="https://www.linkedin.com/in/bianchijohn/"  target="blank" title="LinkedIn">
            <img class="w-15 h-15 mr-2" alt="LinkedIn logo" src="../assets/images/onboarding-images/Linkedin.tif.png" />
          </a>
          <a href="https://x.com/BTCJohnnyB" target="blank" title="Twitter X">
            <img class="w-15 h-15 mr-2" alt="Twitter X logo"  src="../assets/images/onboarding-images/X.tif.png" />
          </a>
          <a href="https://www.instagram.com/bianchidoingthings/" target="blank" title="Instagram">
            <img class="w-15 h-15" alt="Instagram logo"  src="../assets/images/onboarding-images/Instagram.tif.png" />
          </a>
      </div>
    </div>
  </div>


<!-- Links section-->
  <div id="links">
    <div id="QRcode" class="pb-4 pt-12 mt-3">
      <img class="h-48 p-4 ring-1 rounded-lg mx-auto" alt="QR Code" 
        src="../assets/images/onboarding-images/de4ZAy.tif.png" />
    </div>
    <div class="w-9/12 mx-auto mt-8 space-y-6 text-white">
      <p><a href="https://www.linkedin.com/in/bianchijohn/" target="blank" title="LinkedIn"> 
        <button class="w-full ring-4 bg-blue-900 ring-gray-900 truncate shadow-md  text-center py-3 mt-0 mb-0 rounded-full mx-auto">
          LinkedIn
        </button></a></p>
      <p><a href="https://www.circlepass.io/patchwrq" target="blank" title="PatchWRQ Site"> 
        <button class="w-full ring-4 bg-blue-900 ring-gray-900 truncate shadow-md  text-center py-3 mt-0 mb-0 rounded-full mx-auto">
          PatchWRQ Site
        </button></a></p>
      <p><a href="https://www.circlepass.io/quest" target="blank" title="Quest App"> 
        <button class="w-full ring-4 bg-blue-900 ring-gray-900 truncate shadow-md  text-center py-3 mt-0 mb-0 rounded-full mx-auto">
          Quest App
        </button></a></p>
    </div>
  </div>

  
  <!-- Badges -->
  <div id="badges" class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10">
    <div id="badgesQuests" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <div class="text-center w-full text-white z-30">
              <a href="#" title="quest badge" > <img class="w-auto h-14 mt-2 mx-auto" src="../assets/images/onboarding-images/quest.png" alt="quest badge"/></a>
            </div>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Quest</p>
    </div>

    <div id="badgesMine" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <a href="#" title="my badges"> <img class="w-auto h-12 mx-auto mt-3" src="../assets/images/onboarding-images/badges.png" alt="badges"/></a>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Badges</p>
    </div>
    
    <div id="badgesRewards" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <div class="text-center w-full text-white z-30">
              <a href="#" title="rewards badge">  <img class="w-auto h-16 mx-auto mt-3" src="../assets/images/onboarding-images/rewards.png" alt="rewards badge"/> </a>
            </div>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Rewards</p>
    </div>  
  </div>



<footer id="footer" class="bg-blue-900 text-white">
  <div class="mx-auto max-w-7xl overflow-hidden py-6 lg:px-8">
      <nav class="-mb-6 columns-1 text-center grid grid-cols-4" aria-label="Footer">
        <div class="pb-6">
          <a title="Home page" href="#" class="">
            <img alt="Home icon" class="w-8 h-auto mx-auto" src="../assets/icon/home-icon.png" alt="home icon" />
          </a>
        </div>
        <div class="pb-6">
          <a title="Events page" href="#" class="">
            <img alt="Events map icon" class="w-8 h-auto mx-auto" src="../assets/icon/events-icon.png" alt="events icon"/>
          </a>
        </div>
        <div class="pb-6">
          <a title="Your profiles page" href="#" class="">
            <img alt="Profile id icon" class="w-8 h-auto mx-auto" src="../assets/icon/biotool.png" alt="biotool icon"/>
          </a>
        </div>
        <div class="pb-6">
          <a title="Connections to freinds page" href="#" class="">
            <img alt="Connections comment chat icon" class="w-8 h-auto mx-auto" src="../assets/icon/connections-icon.png" alt="connections icon"/>
          </a>
        </div>
      </nav>
  </div>
</footer>
