
<!-- Badges -->
<div id="badges" class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10">
    <div id="badgesQuests" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <div class="text-center w-full text-white z-30">
              <a href="#" title="quest badge" > <img class="w-auto h-14 mt-2 mx-auto" src="../assets/images/onboarding-images/quest.png" alt="quest badge"/></a>
            </div>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Quest</p>
    </div>

    <div id="badgesMine" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <a href="#" title="my badges"> <img class="w-auto h-12 mx-auto mt-3" src="../assets/images/onboarding-images/badges.png" alt="badges"/></a>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Badges</p>
    </div>
    
    <div id="badgesRewards" class="flex flex-col items-center">
      <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
          </div>
          <div class="text-center w-full text-white z-30">
            <div class="text-center w-full text-white z-30">
              <a href="#" title="rewards badge">  <img class="w-auto h-16 mx-auto mt-3" src="../assets/images/onboarding-images/rewards.png" alt="rewards badge"/> </a>
            </div>
          </div>
      </div>
      <p class="text-center text-sm pt-1 w-full">My Rewards</p>
    </div>  
  </div>
  
