/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Montserrat, "Helvetica Neue", sans-serif; 
    font-style: normal;
    font-weight: 500;
    width: 425px;
		height: fit-content;
    overflow-y: scroll;
    margin-left: auto !important;
    min-height: 100%;
    margin-right: auto !important;
}