/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Merienda:wght@300..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Tenor+Sans&family=Titan+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { 
    margin: 0; 
    font-style: normal;
    font-weight: 500;
    width: 425px;
		height: fit-content;
    overflow-y: scroll;
    margin-left: auto !important;
    min-height: 100%;
    margin-right: auto !important;
}