

<!-- User Bio Header Panel -->
<div class="p-7 bg-cover bg-center bg-primary retroDiner:bg-accentDark">
	<div class="flex items-center">
		<img class="w-20" alt="John Bianchi" src="../assets/images/onboarding-images/JohnBianchi.png" />
		<div class="ml-5">
			<p class="text-xl mb-4 text-infoLight uppercase font-display">{{userFullName}}</p>
			<div class="grid grid-cols-4 top-1">
				<a href="https://www.facebook.com/john.bianchi221" target="blank" title="Facebook">
					<img class="w-8 h-8 mr-2" alt="Facebook logo" src="../assets/images/onboarding-images/Facebook.png" />
				</a>
				<a href="https://www.linkedin.com/in/bianchijohn/" target="blank" title="LinkedIn">
					<img class="w-8 h-8 mr-2" alt="LinkedIn logo" src="../assets/images/onboarding-images/Linkedin.tif.png" />
				</a>
				<a href="https://x.com/BTCJohnnyB" target="blank" title="Twitter X">
					<img class="w-8 h-8 mr-2" alt="Twitter X logo" src="../assets/images/onboarding-images/X.tif.png" />
				</a>
				<a href="https://www.instagram.com/bianchidoingthings/" target="blank" title="Instagram">
					<img class="w-8 h-8" alt="Instagram logo" src="../assets/images/onboarding-images/Instagram.tif.png" />
				</a>
			</div>
		</div>
	</div>
</div>

