<!-- Header -->
<div class="theme-header flex justify-between items-center p-3 bg-primary font-bold">
	<div class="flex items-center gap-4">
		<!-- <img class="w-12" src="../assets/images/onboarding-images/JohnBianchi.png" alt="Profile image"> -->
		<p class="uppercase text-body title-text">Profile Page</p>
	</div>
	<div class="flex items-center gap-4">
		<img class="header-icon w-8" src="/assets/images/onboarding-images/qr-icon.png" alt="QR icon">
		<img class="header-icon w-8" src="/assets/icon/hamburger.png" alt="Menu icon">
	</div>
</div>



<!-- User Bio -->
<div class="profile p-7 bg-cover bg-center bg-accent-dark">
	<div class="flex items-center">
		<img class="w-20" alt="John Bianchi" src="../assets/images/onboarding-images/JohnBianchi.png" />
		<div class="ml-5">
			<p class="text-xl mb-4 text-body uppercase title-text font-bold">{{userFullName}}</p>
			<div class="grid grid-cols-4 top-1">
				<a href="https://www.facebook.com/john.bianchi221" target="blank" title="Facebook">
					<img class="w-8 h-8 mr-2" alt="Facebook logo" src="../assets/images/onboarding-images/Facebook.png" />
				</a>
				<a href="https://www.linkedin.com/in/bianchijohn/" target="blank" title="LinkedIn">
					<img class="w-8 h-8 mr-2" alt="LinkedIn logo" src="../assets/images/onboarding-images/Linkedin.tif.png" />
				</a>
				<a href="https://x.com/BTCJohnnyB" target="blank" title="Twitter X">
					<img class="w-8 h-8 mr-2" alt="Twitter X logo" src="../assets/images/onboarding-images/X.tif.png" />
				</a>
				<a href="https://www.instagram.com/bianchidoingthings/" target="blank" title="Instagram">
					<img class="w-8 h-8" alt="Instagram logo" src="../assets/images/onboarding-images/Instagram.tif.png" />
				</a>
			</div>
		</div>
		<div class="self-baseline">
			<label for="theme-options">THEME PICKER</label>
			<div class="theme-options">
				<select name="theme-options" id="themeoptions" aria-label="ThemeOptions">
					<option value="forest" [selected]="theme === 'forest'">Forest</option>
					<option value="racer" [selected]="theme === 'racer'">Left Turn Racer</option>
					<option value="retro-diner" [selected]="theme === 'retroDiner'">Retro Diner</option>
				</select>
			</div>
		</div>
	</div>
</div>



<!-- About -->
<div class="about-me bg-tertiary px-8 text-center py-5">
	<h1 class="text-sm uppercase text-center leading-10 text-info title-text font-bold">About Me:</h1>
	<p class="pb-4 text-sm">
		Cupcake ipsum dolor sit amet macaroon jelly beans. Wafer danish biscuit shortbread chupa chups. Jelly tart jujubes
		biscuit cake pastry candy candy danish.
	</p>
	<p class="pb-4 text-sm">
		Pudding cheesecake toffee ice cream soufflé. Caramels sugar plum jelly cupcake gummi bears. Icing tiramisu halvah
		biscuit pie brownie chocolate cake jelly.
	</p>
</div>


<!-- Links -->
<div id="links">
	<div class="flex flex-col w-9/12 mx-auto mt-8 space-y-6 text-body font-semibold">
		<button type="button" (click)="onLinkedInClick()"
			class="w-full border-1 border-[#353535] bg-primary truncate shadow-gray text-center py-3 mt-0 mb-0 rounded-full mx-auto">
			LinkedIn
		</button>
		<button type="button" (click)="onPatchWRKClick()"
			class="w-full border-1 bg-secondary truncate shadow-gray text-center py-3 mt-0 mb-0 rounded-full mx-auto">
			PatchWRK
		</button>
		<button type="button" (click)="onQuestAppClick()"
			class="w-full border-1 border-trim-dark bg-tertiary truncate shadow-gray text-center text-info py-3 mt-0 mb-0 rounded-full mx-auto">
			Quest
		</button>
		<button type="button"
			class="w-full border-1 bg-inactive truncate shadow-gray text-center text-tertiary py-3 mt-0 mb-0 rounded-full mx-auto">
			Organization
		</button>
	</div>
</div>



<!-- User Badge -->
<div id="badges" class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10 badges">
	<div id="badgesQuests" class="flex flex-col items-center">
		<div
			class="relative shadow-blue w-24 h-24 flex items-center justify-center rounded-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-accent-dark to-primary retro-diner:bg-gradient-to-b retro-diner:from-accent-light retro-diner:to-primary border-3 border-info">
			<div class="text-center w-full text-white z-30">
				<div class="text-center w-full text-white z-30">
					<a href="#" title="quest badge"> <img class="w-auto h-10 mt-2 mx-auto"
							src="../assets/images/onboarding-images/quest.png" alt="quest badge" /></a>
				</div>
			</div>
		</div>
		<p class="text-center text-xs uppercase pt-1 mt-2 w-full">My Quest</p>
	</div>

	<div id="badgesMine" class="flex flex-col items-center">
		<div
			class="relative shadow-blue w-24 h-24 flex items-center justify-center rounded-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-accent-dark to-primary retro-diner:bg-gradient-to-b retro-diner:from-accent-light retro-diner:to-primary border-3 border-info">
			<div class="text-center w-full text-white z-30">
				<a href="#" title="my badges"> <img class="w-auto h-10 mx-auto mt-3"
						src="../assets/images/onboarding-images/badges.png" alt="badges" /></a>
			</div>
		</div>
		<p class="text-center text-xs uppercase pt-1 mt-2 w-full">My Badges</p>
	</div>

	<div id="badgesRewards" class="flex flex-col items-center">
		<div
			class="relative shadow-blue w-24 h-24 flex items-center justify-center rounded-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-accent-dark to-primary retro-diner:bg-gradient-to-b retro-diner:from-accent-light retro-diner:to-primary border-3 border-info">
			<div class="text-center w-full text-white z-30">
				<div class="text-center w-full text-white z-30">
					<a href="#" title="rewards badge"> <img class="w-auto h-12 mx-auto mt-3"
							src="../assets/images/onboarding-images/rewards.png" alt="rewards badge" /> </a>
				</div>
			</div>
		</div>
		<p class="text-center text-xs uppercase pt-1 mt-2 w-full">My Rewards</p>
	</div>
</div>